<div class="login-container">
  <h2>SocialDev</h2>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <h1>Bienvenido</h1>
      <p>Inicia sesión para continuar tu viaje</p>
    </div>
    <div class="form-group">
      <app-input
        type="text"
        id="email"
        name="email"
        [required]="true"
        placeholder="correo electrónico"
        [value]="loginForm.get('email')?.value"
        (valueChange)="loginForm.get('email')?.setValue($event)"
      ></app-input>
      <div *ngIf="f['email'].invalid && f['email'].touched" class="error">
        Correo electrónico inválido
      </div>
    </div>

    <div class="form-group">
      <app-input
        type="password"
        id="password"
        name="password"
        [required]="true"
        placeholder="contraseña"
        [value]="loginForm.get('password')?.value"
        (valueChange)="loginForm.get('password')?.setValue($event)"
      ></app-input>
      <div *ngIf="f['password'].invalid && f['password'].touched" class="error">
        Contraseña inválida
      </div>
    </div>

    <div class="forgot-password">
      <a href="#">Olvido su contraseña?</a>
    </div>

    <app-button
      type="submit"
      [label]="'Iniciar sesión'"
      [disabled]="loginForm.invalid"
    ></app-button>
  </form>

  <div class="register-link">
    <p>¿No tienes una cuenta?</p>
    <a routerLink="/register">Regístrate aquí</a>
  </div>
</div>