.formulario-post {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.campos-post {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: var(--text-primary-color);

    &::placeholder {
      color: var(--text-tertiary-color);
    }

    &:focus {
      outline: none;
    }
  }

  textarea {
    width: 100%;
    height: fit-content;
    min-height: 200px;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    resize: vertical;
    border: none;
    background-color: transparent;
    color: var(--text-primary-color);

    &::placeholder {
      color: var(--text-tertiary-color);
    }

    &:focus {
      outline: none;
    }
  }
}

.adjuntos {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 1rem;

  h3 {
    color: var(--text-primary-color);
    margin: 0;
  }
}

.opcion-adjunto {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-primary-color);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.icono {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  margin-right: 1rem;
  color: var(--primary-color);
  background-color: var(--background-secondary-color);
  border-radius: 8px;
}

h4 {
  color: var(--text-primary-color);
  margin-bottom: 10px;
}

svg {
  width: 16px;
  height: 16px;
}

.preview-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.image-preview {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.btn-remove {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.archivos-adjuntos {
  width: 100%;
  margin-top: 1rem;
}

.archivos-adjuntos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.archivos-adjuntos li {
  padding: 8px;
  margin: 5px 0;
  background-color: var(--background-secondary-color);
  color: var(--text-tertiary-color);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-remove-file {
  display: flex;
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}