.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--background-secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 8px;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text-tertiary-color);
  }

  input {
    flex: 1;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--background-secondary-color);
    color: var(--text-primary-color);
    transition: border-color 0.3s;
    border: none;
    outline: none;
  }
}