<article class="user-info" aria-labelledby="user-name">
  <div class="header-avatar">
    <img src="{{user?.avatar}}" alt="Avatar de {{user?.name}} - Hombre con gafas estilosas">
  </div>
  <div class="user-info-details">
    <h2 id="user-name">{{user?.name}}</h2>
    <p role="text">{{user?.profession}}</p>

    <app-button [label]="'Editar Perfil'"></app-button>
  </div>

  <p class="user-bio">
    {{user?.bio}}
  </p>
  <section class="skills-heading" aria-labelledby="skills-heading">
    <h3 id="skills-heading">Habilidades</h3>
    <ul class="skills-list">
      <li *ngFor="let skill of user?.skills">{{ skill }}</li>
    </ul>
  </section>
</article>