.user-info {
  position: relative;
}

h3 {
  color: var(--text-primary-color);
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-wrap: balance;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
}