:root {
  font-family: 'Poppins', sans-serif;
  --primary-color: #007BFF; /* Azul para elementos interactivos */
  --secondary-color: #343A40; /* Gris oscuro para texto principal y fondos sutiles */
  --accent-color: #1173d4; /* Cian para resaltados y elementos de interacci칩n */
  --background-color: #101922; /* Gris oscuro para fondos sutiles */
  --text-primary-color: #ffffff; /* Gris oscuro para texto principal */
  --text-secondary-color: #c1c6cd; /* Gris m치s claro para texto secundario */
  --text-tertiary-color: #969da9; /* Gris m치s claro para texto secundario */
  --background-secondary-color: #1E2A3B; /* Gris oscuro para fondos sutiles */
  --background-tertiary-color: #2A2E37; /* Gris m치s oscuro para fondos sutiles */
  --card-background-color: #101d2b; /* Gris oscuro para fondos sutiles */
  --card-border-color: #2c3849; /* Gris claro para bordes sutiles */
  --chat-unread-color: #0f2b45; /* Gris oscuro para fondos sutiles */
  --color-gray-200: #E9ECEF; /* Gris claro para bordes sutiles */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background-color);
}
