<div class="search-bar">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-search">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
    <path d="M21 21l-6 -6" />
  </svg>
  <input type="text" placeholder="Buscar en SocialDev" />
</div>

<h2>Desarrolladores</h2>
<div class="developer-profile">
  <app-developer-card *ngFor="let user of users" [user]="user"></app-developer-card>
</div>

<h2>Proyectos</h2>
<div class="projects-list">
  <ng-container *ngFor="let user of users">
    <app-project-card *ngIf="user?.projects?.[0]" [project]="user?.projects?.[0]"></app-project-card>
  </ng-container>
</div>

<h2>Temas de Tendencia</h2>
<div class="trending-topics">
  <span>#JavaScript</span>
  <span>#Angular</span>
  <span>#DesarrolloWeb</span>
  <span>#OpenSource</span>
  <span>#Frontend</span>
  <span>#UI/UX</span>
</div>