h2 {
  margin-bottom: 1rem;
  color: var(--text-primary-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

h3 {
  margin: 0.5rem 0 0.25rem 0;
  color: var(--text-primary-color);
  font-size: 1rem;
  font-weight: 600;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--background-secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 8px;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text-tertiary-color);
  }

  input {
    flex: 1;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--background-secondary-color);
    color: var(--text-primary-color);
    transition: border-color 0.3s;
    border: none;
    outline: none;
  }
}

.search-bar input::placeholder {
  color: var(--text-tertiary-color);
}

.search-bar:focus-within {
  outline: 2px solid var(--accent-color);
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.developer-profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.developer-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    object-fit: cover;
    background-color: var(--card-border-color);
  }
}

.developer-info {
  text-align: center;

  p {
    margin: 0;
    color: var(--text-secondary-color);
    font-size: 0.8rem;
    margin-bottom: 2.5rem;
  }
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
}

.project-card {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    object-fit: cover;
  }
}

.project-info {
  text-align: start;

  p {
    margin: 0;
    color: var(--text-tertiary-color);
    font-size: 0.8rem;
    line-height: 1.2;
    font-weight: 400;
    text-wrap: balance;
    margin-bottom: 2.5rem;
  }
}

.trending-topics {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  span{
    background-color: var(--background-secondary-color);
    color: var(--accent-color);
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  span:hover {
    background-color: var(--accent-color);
    color: var(--text-primary-color);
  }
}