.modal-profile {
  top: 0;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  max-width: 480px;
  width: 100%;
  background: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 20;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  h2 {
    color: var(--text-primary-color);
    text-align: center;
    margin-top: 0;
  }
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  label {
    font-weight: bold;
    color: var(--text-primary-color);
    margin-bottom: 0.5rem;
  }

  .avatar-preview {
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 0.5rem;
    }

    figcaption {
      font-size: 0.875rem;
      color: var(--text-secondary-color);
    }
  }

  textarea {
    field-sizing: content;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    resize: none;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: var(--text-primary-color);
    box-sizing: border-box;
    background-color: var(--background-secondary-color);

    &::placeholder {
      color: var(--text-tertiary-color);
    }

    &:focus {
      outline: 2px solid var(--primary-color);
    }
  }

  .skills-input {
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary-color);
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .skills-list li {
    text-align: center;
    background-color: var(--background-tertiary-color);
    border-radius: 16px;
    padding: 6px 12px;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--accent-color);
    cursor: pointer;

    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  }

  .skills-input-field {
    background-color: var(--background-tertiary-color);
  }
}